.experience-wrapper {
    background-color: #EAF3EE;
    padding: 2rem 0;
    width: 100%;
}

.experience-container a {
    color: #254441;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.experience-container a:hover {
    color: #254441;
    text-decoration: underline;
    offset-distance: 1rem;
}

.experience-text {
    text-align: center;
}

h3 {
    color: #254441;
}