.projects-wrapper {
    background-color: #EAF3EE;
    width: 100%;

}

.card-container {
    border: 2px solid #254441;
}

.card-body {
    background-color: #254441;
    color: #EAF3EE;
}

.cardCol {
    display: flex;
        justify-content: center;
        align-items: stretch; 
}

.card-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.card-body a {
    text-align: center;
}